@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-text-primary: #1F2936;
    --color-text-placeholder: #798EAE;
    --color-bg-primary: #f9fafb;
    --color-bg-secondary: #ECECFD;
    --color-bg-sidebar: #FFFFFF;
    --color-border-hr: #E2E8F0;
    --color-hover-primary: #695CFE;
    --color-hover-secondary: #e2e2fb;
    --color-shadow: rgba(0, 0, 0, 0.05);
    --color-error-bg: #f8d7da; 
    --color-error-text: #a42834;
    --color-success-bg: #e6fffa;
    --color-success-text: #047857;
}

body.dark-theme {
    --color-text-primary: #F1F5F9;
    --color-text-placeholder: #A6B7D2;
    --color-bg-primary: #111827;
    --color-bg-secondary: #3D4859;
    --color-bg-sidebar: #1f2937;
    --color-border-hr: #3B475C;
    --color-hover-secondary: #48566a;
    --color-shadow: rgba(0, 0, 0, 0.3);
    --color-error-bg: #3b0d0d; 
    --color-error-text: #fca5a5;
    --color-success-bg: #064e3b;
    --color-success-text: #bbf7d0;
}