body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: var(--color-text-primary);
}

.container{
    margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 480px;
    padding: 30px;
    background: var(--color-bg-sidebar);
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.1);
    display: none;
}

.form-box.active{
    display: block;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-text-primary);
}

input,
select{
    width: 100%;
    padding: 12px;
    background: var(--color-bg-secondary);
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--color-text-primary);
    margin-bottom: 30px;
}

button{
    width: 100%;
    padding: 12px;
    background: var(--color-hover-primary);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover{
    background: #4C3FD9;
}

p{
    font-size: 14.5px;
    text-align: center;
    margin-top: 10px;
    color: var(--color-text-placeholder);
}

p a{
    color: var(--color-hover-primary);
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: var(--color-error-bg);
    border-radius: 6px;
    font-size: 16px;
    color: var(--color-error-text);
    text-align: center;
    margin-bottom: 20px;
}
