.main-content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-content .header h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.add-btn {
  padding: 5px 10px;
  background: var(--color-hover-primary);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  transition: 0.5s;
}

.add-btn:hover {
  background: #4C3FD9;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--color-border-hr);
  border-radius: 8px;
  font-size: 1rem;  
  margin-right: 10px;
  background: var(--color-bg-sidebar);
  color: var(--color-text-primary);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar:focus{
  border-color: var(--color-hover-primary);
  box-shadow: 0 0 5px var(--color-shadow);
  outline: none;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: var(--color-bg-secondary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: var(--color-text-primary);
}

.filter-btn:hover {
  background: var(--color-hover-secondary);
}


.documents-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: var(--color-text-primary);
}

.documents-table th,
.documents-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--color-border-hr);
}

.documents-table th {
  background: var(--color-bg-secondary);
  color: var(--color-text-placeholder);
  font-weight: 600;
}

.documents-table td {
  color: var(--color-text-primary);
}


.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
}

.badge.success {
  background: var(--color-success-bg);
  color: var(--color-success-text);
}

.badge.danger {
  background: var(--color-error-bg);
  color: var(--color-error-text);
}


.action-link {
  color: var(--color-hover-primary);
  text-decoration: none;
  font-weight: 500;
  transition: filter 0.2s ease;
}

.action-link:hover {
  filter: brightness(0.92);
}


.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-controls {
  display: flex;
  gap: 10px;
}

.pagination-btn {
  padding: 8px 12px;
  border: 1px solid var(--color-border-hr);
  border-radius: 5px;
  background: var(--color-bg-sidebar);
  cursor: pointer;
  font-size: 0.95rem;
  color: var(--color-text-primary);
  transition: background-color 0.2s ease, filter 0.2s ease;
}

.pagination-btn:hover {
  background: var(--color-bg-secondary);
}

.pagination-btn.active {
  background: var(--color-hover-primary);
  color: #fff;
  border-color: transparent;
}

.card {
    background: var(--color-bg-sidebar);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 10px 5px var(--color-shadow);
    width: 100%;
    margin: 0;
}


.card .form {
    margin-bottom: 20px;
}

.card label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-text-primary);
    display: inline-block;
    margin-bottom: 18px;
}

.card input[type="text"],
.card input[type="email"],
.card input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color-border-hr); 
    border-radius: 6px;
    background: var(--color-bg-secondary);
    font-size: 1;
    color: var(--color-text-primary);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.card input:focus {
    border-color: var(--color-hover-primary);
    box-shadow: 0 0 4px var(--color-hover-primary); 
}

.card input::placeholder {
    color: var(--color-text-placeholder); 
}

.card button[type="submit"] {
    display: inline-block;
    width: 100%;
    background: var(--color-hover-primary);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.card button[type="submit"]:hover {
    background: #4C3FD9; 
}

.form-row-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}


@media (max-width: 768px) {
    .card {
        padding: 16px;
    }

    .card button[type="submit"] {
        font-size: 0.9rem;
    }
}