body{
    background: var(--color-bg-primary);
}

.sidebar{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 270px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: var(--color-bg-sidebar);
    border-right: 1px solid var(--color-border-hr);
    box-shadow: 0 3px 9px var(--color-shadow);
    transition: width 0.4s ease;
}

.sidebar.collapsed{
    width: 90px;
}

.sidebar .sidebar-header{
    display: flex;
    padding: 20px 18px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border-hr);
    
}

.sidebar-header .header-logo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-header .header-logo{
    opacity: 0;
    pointer-events: none;
}

.site-nav .sidebar-toggle,
.sidebar-header .sidebar-toggle{
    height: 40px;
    width: 40px;
    border: none;
    position: absolute;
    right: 18px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
    background: var(--color-bg-secondary);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggle{
    height: 48px;
    width: 50px;
    transform: translateX(-2px);
}

.site-nav .sidebar-toggle:hover,
.sidebar-header .sidebar-toggle:hover{
    background: var(--color-hover-secondary);
}

.sidebar-header .sidebar-toggle span{
    font-size: 1.75rem;
    transition: transform 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggle span{
    transform: rotate(180deg);
}

.sidebar .sidebar-content{
    flex: 1;
    padding: 20px 18px;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-placeholder) transparent;
}

.sidebar.collapsed .sidebar-content{
    scrollbar-width: none;
}

.sidebar-content .menu-list{
    display: flex;
    gap: 4px;
    flex-direction: column;
    list-style: none;
} 

.menu-list .menu-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    padding: 12px 15px;
    border-radius: 8px;
    color: var(--color-text-primary);
    transition: 0.4s ease;
} 

.menu-link .menu-label{
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .menu-link .menu-label{
    opacity: 0;
    pointer-events: none;
}

.menu-list .menu-link:is(:hover, .active){
    color: #fff;
    background: var(--color-hover-primary);
}

.sidebar .sidebar-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 18px;
    white-space: nowrap;
    border-top: 1px solid var(--color-border-hr);
}

.sidebar-footer button,
.sidebar-footer .theme-toggle{
    width: 100%;
    min-height: 48px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding : 0 15px;
    display: flex;
    align-items: center;
    color: var(--color-text-primary);
    background: var(--color-bg-secondary);
    transition: 0.3s ease;
}

.sidebar-footer .theme-toggle:hover{
    background: var(--color-hover-secondary);
}

.theme-toggle .theme-label{
    display: flex;
    gap: 10px;
    align-items: center;
}

.theme-toggle .theme-label .theme-text{
    font-size: 1rem;
    transition: opacity 0.4s 0.2s ease;
}

.sidebar.collapsed .theme-toggle :where(.theme-text, 
.theme-toggle-track){
    width: 0;
    opacity: 0;
    transition: all 0.2s ease;
}

.theme-toggle .theme-toggle-track{
    height: 24px;
    width: 48px;
    position: relative;
    border-radius: 999px;
    margin-left: auto;
    background: #c3d1ec;
    transition: opacity 0.4s 0.2s ease, backrgound-color 0.3 ease;
}

body.dark-theme .theme-toggle .theme-toggle-track{
    background: var(--color-hover-primary);
}

.theme-toggle .theme-toggle-indicator{
    position: absolute;
    top: 3px;
    left: 3px;
    height: 18px;
    width: 18px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

body.dark-theme .theme-toggle .theme-toggle-indicator{
    transform: translateX(24px);
}

.site-nav{
    display: none;
    position: sticky;
    top: 0;
    padding: 15px 20px;
    background: var(--color-bg-primary);
    border-bottom: 1px solid var(--color-border-hr);
}

.site-nav .sidebar-toggle{
    position: unset;
}




@media (max-width: 768px){
    body::before{
        content: "";
        position: fixed;
        inset: 0;
        z-index: 10;
        opacity: 0;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.6);
        transition: 0.4s ease;
    }

    body:has(.sidebar:not(.collapsed))::before{
        opacity: 1;
        pointer-events: auto;
    }

    .site-nav{
        display: block;
    }

    .sidebar{
        position: fixed;
        left: 0;
        width: 270px;
        height: 100%;
        z-index: 20;
        transition: left 0.4s ease;
    }
    
    .sidebar.collapsed{
        left: -270px;
        width: 270px;
    }
}